.mainContainer{

    margin-bottom: 20px;
    padding:  15px 20px;
border-radius: 10px;
   width: 90%;
    background-color: rgb(233, 236, 255);
}

.topContent{ 
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.topContent h2{
    font-size: 23px;
    padding-left: 5px;
    border-left: 5px solid rgb(101, 117, 207);
    border-radius: 5px;
}

.btn {
    font-size: 16px;
 background-color:rgb(129, 142, 218);
  padding: 5px 15px;
  border-radius: 7px;
  border: none;
  color: black;
  cursor: pointer;
  
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px;
}
.headerBtn{
    cursor: pointer;
    width: 17vw;
    font-size: 16px;
    padding: 7px 15px;
    border: none;
    background-color: rgb(217, 221, 243);
    border-radius: 5px;
 
}


.appointmentTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  text-align: center;
}

.appointmentTable th,
.appointmentTable td {
    
  padding: 12px 2px;
  border: 1px solid #e6e3e3;
}

.appointmentTable th {
  
font-weight: 600;
  font-size: 15px;
 background-color: rgb(198, 205, 241) ;
}

.actionBtn,.cancelBtn{
    font-size: 15px;
    background-color: rgb(129, 142, 218);
    padding: 5px 15px;
  border-radius: 7px;
  border: none;
  cursor: pointer;

}
.cancelBtn{
  background-color: rgb(240, 9, 9);
  color: white;
  margin-left: 10px;
}

.activeTab {
  background-color: rgb(129, 142, 218);
  color: white;
  font-weight: 600;
}

.activeStatus,.pendingStatus,.cancelledStatus,.upcomingStatus,.completedStatus {
             
  padding: 2px 14px;
  border-radius: 999px;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  
}
.activeStatus{
  background-color: #a9f3cd;  
  color: #1b5e20; 
}

.pendingStatus {
  background-color: #fff3cd; 
  color: #b26a00;           
}

.cancelledStatus{
  background-color: #ffd6d6;
  color: #b71c1c;
}
.upcomingStatus{
  background-color: #caebfd;
  color: #01579b;
}

.completedStatus{
   background-color: #e0e0e0;
  color: #424242;

}

.dialogOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
 
}


.noPatient{
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}