.mainContainer{

    margin-bottom: 20px;
    padding:  15px 20px;
border-radius: 10px;
   width: 90%;
    background-color: rgb(233, 236, 255)
}

.topContent{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.topContent h2{
    font-size: 23px;
    padding-left: 5px;
    border-left: 5px solid rgb(101, 117, 207);
    border-radius: 5px;
}

.btn {
    font-size: 16px;
 background-color:rgb(129, 142, 218);
  padding: 5px 15px;
  border-radius: 7px;
  border: none;
  color: black;
  cursor: pointer;
  
}



.userTable {
    margin-top: 15px;
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  text-align: center;
}

.userTable th,
.userTable td {
    
  padding: 12px 16px;
  border: 1px solid #e6e3e3;
}

.userTable th {
  
font-weight: 600;
  font-size: 15px;
 background-color: rgb(198, 205, 241) ;
}

.actionBtn,.removeBtn{
    font-size: 15px;
    background-color: rgb(129, 142, 218);
    padding: 5px 15px;
  border-radius: 7px;
  border: none;
  cursor: pointer;

}
.activeTab {
  background-color: rgb(129, 142, 218);
  color: white;
  font-weight: 600;
}
.removeBtn{
  background-color: rgb(240, 9, 9);
  color: white;
  margin-left: 10px;
}

.doctorStatus, .staffStatus,.adminStatus{
             
  padding: 2px 14px;
  border-radius: 999px;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  
}
.doctorStatus{
  background-color: #a9f3cd;  
  color: #1b5e20; 
}

.searchContainer{
  display: flex;
 
gap: 10px;

}
.searchContainer input{
  border-radius: 7px;
   font-size: 16px;
  padding: 6px 15px;
  min-width: 30vw;
  border: none;
  outline: none;
  border: 1px solid gray;
  
}
.searchBtn{
   font-size: 16px;
   padding: 5px 15px;
   cursor: pointer;
   background-color:  rgb(129, 142, 218);
   border: none;
   outline: none;
   border-radius: 7px;
}

.staffStatus{
  background-color: #ffd6d6;
  color: #b71c1c;
}
.adminStatus{
  background-color: #caebfd;
  color: #01579b;
}


